.ad_boxes {
	/* display: -webkit-box; */
	/* display: -ms-flexbox; */
	/* display: flex; */
	/* -ms-flex-wrap: wrap; */
	/* flex-wrap: wrap; */
	width: 100%;
	/* margin-right: -5px; */
	/* margin-left: -5px; */
	/* height: 300px; */
	position: relative;
}

.ad_box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	
	float: left;
	width: 100%;
	min-height: 1px;
	border: 5px solid transparent;
}

.ad_box.c1 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 12.5%;
	flex: 0 0 12.5%;
	max-width: 12.5%;
	/* min-width: 160px; */
}

.ad_box.c2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
	/* min-width: 320px; */
}

.ad_box.c3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 37.5%;
	flex: 0 0 37.5%;
	max-width: 37.5%;
	/* min-width: 480px; */
}

.ad_box.c4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
	/* min-width: 640px; */
}

.ad_box.c5 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 62.5%;
	flex: 0 0 62.5%;
	max-width: 62.5%;
	/* min-width: 800px; */
}

.ad_box.c6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
	/* min-width: 960px; */
}

.ad_box.c7 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 87.5%;
	flex: 0 0 87.5%;
	max-width: 87.5%;
	/* min-width: 1120px; */
}

.ad_box.c8 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	/* min-width: 1280px; */
}

.ad_box.r1 {
	height: 50%;
}

.ad_box.r2 {
	height: 100%;
}

.ad_box-image {
	flex-shrink: 0;
	width: 100%;
	/* min-height: 100%; */
}

.ad_box-slider {
	height: 100%;
	width: 100%;
	/* margin-left: 30px; */
}

.cb-slider {
	height: 100%;
}

@media only screen and (min-width: 425px) {
	.ad_boxes { height: 160px; }
	.ad_box.r1 { min-height: 80px; }
	.ad_box.r2 { min-height: 160px; }
	.ad_box-slider { min-height: 160px;	}
}

@media only screen and (min-width: 600px) {
	.ad_boxes { height: 200px; }
	.ad_box.r1 { min-height: 100px; }
	.ad_box.r2 { min-height: 200px; }
	.ad_box-slider { min-height: 200px;	}
}

@media only screen and (min-width: 768px) {
	.ad_boxes { height: 240px; }
	.ad_box.r1 { min-height: 120px; }
	.ad_box.r2 { min-height: 240px; }
	.ad_box-slider { min-height: 240px;	}
}

@media only screen and (min-width: 1024px) {
	.ad_boxes { height: 280px; }
	.ad_box.r1 { min-height: 140px; }
	.ad_box.r2 { min-height: 280px; }
	.ad_box-slider { min-height: 280px;	}
}

@media only screen and (min-width: 1280px) {
	.ad_boxes { height: 320px; }
	.ad_box.r1 { min-height: 160px; }
	.ad_box.r2 { min-height: 320px; }
	.ad_box-slider { min-height: 320px;	}
}