@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato Light';
    src: url('fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Akrobat ExtraBold';
    src: url('fonts/Akrobat-ExtraBold.otf');
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 240px; /* Margin bottom by footer height plus margin 20px*/
	font-family: 'Lato', sans-serif;
	background-color: #434747; /* Dark Grey */
}

a, a:hover, a:active, a:visited, a:focus, a:focus-within { text-decoration: none; }
a:hover, .hoverable:hover { opacity: 0.8; }

.cb-container {
	padding: 0.25rem;
	display: block;
	width: 100%;
	height: 100%;
}

.cb-font-title { font-family: 'Akrobat ExtraBold', sans-serif; }
.cb-font-primary-1 { font-family: 'Lato', sans-serif; }
.cb-font-primary-2 { font-family: 'Lato Light', sans-serif; }

.cb-bg-primary-1, .cb-bg-primary-1-hover:hover		{ background-color: #e55026; }
.cb-bg-primary-2, .cb-bg-primary-2-hover:hover		{ background-color: #faa528; }
.cb-bg-primary-3, .cb-bg-primary-3-hover:hover		{ background-color: #ffffff; }
.cb-bg-secondary-1, .cb-bg-secondary-1-hover:hover	{ background-color: #434747; }
.cb-bg-secondary-2, .cb-bg-secondary-2-hover:hover	{ background-color: #8c8b8a; }
.cb-bg-secondary-3, .cb-bg-secondary-3-hover:hover	{ background-color: #e6e6e5; }

.cb-txt-primary-1, .cb-txt-primary-1-hover:hover		{ color: #e55026; }
.cb-txt-primary-2, .cb-txt-primary-2-hover:hover		{ color: #faa528; }
.cb-txt-primary-3, .cb-txt-primary-3-hover:hover		{ color: #ffffff; }
.cb-txt-secondary-1, .cb-txt-secondary-1-hover:hover	{ color: #434747; }
.cb-txt-secondary-2, .cb-txt-secondary-2-hover:hover	{ color: #8c8b8a; }
.cb-txt-secondary-3, .cb-txt-secondary-3-hover:hover	{ color: #e6e6e5; }

.cb-border-round	{ border-radius: 7px; }
.cb-border			{ border: 1px solid #434747; }
.cb-border-top		{ border-top: 1px solid #434747; }
.cb-border-right	{ border-right: 1px solid #434747; }
.cb-border-bottom	{ border-bottom: 1px solid #434747; }
.cb-border-left		{ border-left: 1px solid #434747; }

.cb-pull-right { float: right; }
.cb-pull-left { float: left; }

.cb-m-1 { margin: 0.25rem; }
.cb-m-2 { margin: 0.50rem; }
.cb-m-3 { margin: 0.75rem; }
.cb-m-4 { margin: 1.00rem; }
.cb-m-5 { margin: 1.25rem; }

.cb-mt-1 { margin-top: 0.25rem; }
.cb-mt-2 { margin-top: 0.50rem; }
.cb-mt-3 { margin-top: 0.75rem; }
.cb-mt-4 { margin-top: 1.00rem; }
.cb-mt-5 { margin-top: 1.25rem; }

.cb-mb-1 { margin-bottom: 0.25rem; }
.cb-mb-2 { margin-bottom: 0.50rem; }
.cb-mb-3 { margin-bottom: 0.75rem; }
.cb-mb-4 { margin-bottom: 1.00rem; }
.cb-mb-5 { margin-bottom: 1.25rem; }

.cb-ml-1 { margin-left: 0.25rem; }
.cb-ml-2 { margin-left: 0.50rem; }
.cb-ml-3 { margin-left: 0.75rem; }
.cb-ml-4 { margin-left: 1.00rem; }
.cb-ml-5 { margin-left: 1.25rem; }

.cb-mr-1 { margin-right: 0.25rem; }
.cb-mr-2 { margin-right: 0.50rem; }
.cb-mr-3 { margin-right: 0.75rem; }
.cb-mr-4 { margin-right: 1.00rem; }
.cb-mr-5 { margin-right: 1.25rem; }

.cb-p-1 { padding: 0.25rem; }
.cb-p-2 { padding: 0.50rem; }
.cb-p-3 { padding: 0.75rem; }
.cb-p-4 { padding: 1.00rem; }
.cb-p-5 { padding: 1.25rem; }

.cb-pt-1 { padding-top: 0.25rem; }
.cb-pt-2 { padding-top: 0.50rem; }
.cb-pt-3 { padding-top: 0.75rem; }
.cb-pt-4 { padding-top: 1.00rem; }
.cb-pt-5 { padding-top: 1.25rem; }

.cb-pb-1 { padding-bottom: 0.25rem; }
.cb-pb-2 { padding-bottom: 0.50rem; }
.cb-pb-3 { padding-bottom: 0.75rem; }
.cb-pb-4 { padding-bottom: 1.00rem; }
.cb-pb-5 { padding-bottom: 1.25rem; }

.cb-pl-1 { padding-left: 0.25rem; }
.cb-pl-2 { padding-left: 0.50rem; }
.cb-pl-3 { padding-left: 0.75rem; }
.cb-pl-4 { padding-left: 1.00rem; }
.cb-pl-5 { padding-left: 1.25rem; }

.cb-pr-1 { padding-right: 0.25rem; }
.cb-pr-2 { padding-right: 0.50rem; }
.cb-pr-3 { padding-right: 0.75rem; }
.cb-pr-4 { padding-right: 1.00rem; }
.cb-pr-5 { padding-right: 1.25rem; }

.cb-panel { display: flex; flex-flow: column; height: 100%; }
.cb-panel-heading { display: block; border-radius: 7px; }
.cb-panel-body { flex: 1 1 auto; display: block; border-radius: 7px; overflow: auto; }

.cb-table-striped {}
.cb-table-striped:nth-child(odd) {
    background-color: #e6e6e5;
}
.cb-table-striped:nth-child(even) {
    background-color: #ffffff;
}

.cb-input-text { border: none; background-color: #e6e6e5; color: #434747; padding: 0.75rem; border-radius: 4px; font-size: large; }

[class|="cb-button"] { border: none; font-family: 'Akrobat ExtraBold', sans-serif; font-size: 2rem; padding: 0.75rem; border-radius: 4px;  }
.cb-button-operational		{ background-color: #434747; color: #ffffff; }
.cb-button-form				{ background-color: #e55026; color: #ffffff; }
.cb-button-secondary		{ background-color: #ffffff; color: #434747; border: 1px solid #434747; }
.cb-button-group-left		{ border-top-right-radius: 0; border-bottom-right-radius: 0; margin-right: 0; border-right: 1px solid #FFF; }
.cb-button-group-right		{ border-top-left-radius: 0; border-bottom-left-radius: 0; margin-left: 0; }
.cb-button-group-mid		{ border-radius: 0; margin-left: 0; margin-right: 0; border-left: 1px solid #FFF; border-right: 1px solid #FFF; }

.cb-button-operational:hover	{ background-color: #8c8b8a; }
.cb-button-form:hover			{ background-color: #faa528; }
.cb-button-secondary:hover		{ background-color: #faa528; color: #ffffff; border: none; }
.cb-button-secondary:active		{ background-color: #faa528; color: #ffffff; border: none; }
.cb-button-secondary-selected	{ background-color: #faa528; color: #ffffff; border: none; }

.cb-align-center { text-align: center; justify-content: center; }
.cb-align-right { text-align: right; justify-content: flex-end; }
.cb-margin-auto { margin: auto; }

.cb-table { display: table; }
.cb-table-row { display: flex; margin-bottom: 0.5rem; }
.cb-table-cell { flex: 1 1 100%; }

.cb-label { font-size: x-large; color: #e55026; }
.sub_label { font-size: smaller; color: #8c8b8a; }

.cb-square { width: 100%; height: 100%; }

.cb-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.cb-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	vertical-align: middle;
}

.cb-col-full {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.cb-col-half, .cb-col-fourth-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.cb-col-small {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 5%;
	flex: 0 0 5%;
	max-width: 5%;
}

.cb-col-third {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	max-width: 33.33%;
}

.cb-col-third-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 66.66%;
	flex: 0 0 66.66%;
	max-width: 66.66%;
}

.cb-col-fourth {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.cb-col-fourth-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.cb-col-fifth {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
}

.cb-col-fifth-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	max-width: 40%;
}

.cb-col-fifth-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 60%;
	flex: 0 0 60%;
	max-width: 60%;
}

.cb-col-fifth-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 80%;
	flex: 0 0 80%;
	max-width: 80%;
}

h4 { font-weight: bold; }

.logo-header { height: 80px }

.nav-cb {
}

.navbar-cb {
}

.navbar-cb-top {
	height: 105px;
	width: 100%;
	display: table;
}

.navbar-cb-top > * {
	display: table-cell;
	vertical-align: middle;
}

.navbar-cb-logo {
	/* position: relative; */
	/* float: left; */
	width: 250px;
	padding: 0 15px;
	
}

.navbar-cb-top-search {
	/* float: left; */
	/* padding: 0 30% 0 0; */
}

.navbar-cb-top-search-input {
	height: 54px;
}

.navbar-cb-top-menu {
	/* float: right; */
	width: 30%;
	text-align:right;
	right: 0;
}

.navbar-cb-top-menu-text {
	padding: 0 25px;
	color: white;
}

.navbar-cb-top-menu-text:hover {
	color: #8b8c8a;
}

.navbar-cb-top-profile {
	width: 50px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

.navbar-cb-top-profile-photo {
	width: 50px;
	max-height: 50px;
	border-radius: 7px;
}

.hover_menu.navbar-cb-top-profile-menu {
	position: absolute;
	right: 20px;
    border-radius: 7px;
	width: 120px;
}

.hover_menu.navbar-cb-strip-product {
	position: absolute;
	top: 145px;
	left: 120px;
    border-radius: 7px;
	z-index: 100;
	width: 240px;
}

/*.navbar-cb-top-profile-menu > li {
	list-style: none;
	line-height: 30px;
}

.navbar-cb-top-profile-menu-text {
	color: black;
	height: 100%;
}

.navbar-cb-top-profile-menu-text:hover {
	color: #8c8b8a;
}*/

.hover_menu {
	background-color: #e6e6e5;
	padding: 0;
	display: none;
	padding-left: 20px;
}

.hover_menu > li {
	list-style: none;
	line-height: 30px;
}

.hover_menu-text {
	color: black;
	display:block;
	height: 100%;
	width: 100%;
}

.hover_menu-text:hover {
	color: #8c8b8a;
}

.navbar-cb-strip {
	height: 40px;
	background-color: #e55026;
	display: table;
	width: 100%;
	margin-bottom: 10px;
}

.navbar-cb-strip-text {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 120px;
	color: white;
	font-family: 'Akrobat ExtraBold', sans-serif;
	font-size: 2rem;
}

.navbar-cb-strip-text:hover {
	color: #434747;
	margin-bottom: 80px; /* Margin bottom by footer height plus margin 20px*/
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 240px; /* Set the fixed height of the footer here */
    /* background-color: #f8f8f8; */
	/* border: 1px solid #e7e7e7; */
}

.sub-footer {
	background-color: #8c8b8a;
	height: 160px; /* Set the fixed height of the footer here */
}

.sub-footer > h4 {
	color: #434747;
}

.sub-footer-col {
	float: left;
	height: 160px; /* Set the fixed height of the footer here */
	margin-left: 30px;
}

.sub-footer-list {
	list-style: none;
	padding-left: 20px;
	font-size: smaller;
}

.sub-footer-list > li > a {
	color: white;
	line-height: 25px;
}

.sub-footer-list > li > a:hover {
	color: #434747;
}

.main-footer {
	height: 80px; /* Set the fixed height of the footer here */
	color: white;
}

.footer-logo {
	padding: 10px 20px 0 0;
}

.logo-footer {
	float: left;
	height: 50px;
	margin: 0 10px 0 30px;
}

.footer-text {
	font-size: smaller;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
	display: none;
}

.popup {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

.popup-sm { width: 300px; }
.popup-md { width: 500px; }
.popup-lg { width: 700px; }

.popup .panel-body {
	max-height: 500px;
	overflow-y: auto;
}

.template {
	display: none;
}

.hoverdiv.hoverdiv-white {background: #fff;}
.hoverdiv.hoverdiv-white:hover {background: #eee;}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
	-webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.thumbnail.thumbnail-hover:hover { opacity: 0.8; }

.btn-favorited { background-color: #FF4444 }

.item-gallery-container {
	overflow-x: auto;
}

.item-showcase {
	
}

.item-showcase .item_thumbnail {
	margin-right: 0.5rem;
	margin-top: 0.5rem;
}

.item-gallery {
	/* height: 220px; */
	max-width: 100%;
	display: flex;
}

.item-gallery .item_thumbnail {
	border-right: 1px solid #8c8b8a;
	width: 250px;
}

.item_thumbnail {
	padding: 0.5rem;
	text-align: center;
	background-color: #FFFFFF;
}

.item_gallery-vertical .item_thumbnail-sm {
	margin-bottom: 0.5rem;
}

.item_thumbnail-sm {
	width: 100%;
}

.item_thumbnail-lg {
	width: 100%;
}

.item_name {
	color: #434747;
	font-weight: bold;
	font-size: large;
}

.item_initial_price {
	text-decoration: line-through;
}

.item_current_price {
	color: #e55026;
	font-weight: bold;
	font-size: x-large;
}

/* .item_thumbnail >*/ .item_photo {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	
	height: 150px;
}

.item_photo > img {
	flex-shrink: 1;
	height: 100%;
}

/*.cb-panel {
	display: block;
	background-color: #FFFFFF;
    border-radius: 7px;
}*/

/*.navbar-cb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-cb > .container,
.navbar-cb > .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-cb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-header-cb { 
	float: left;
}

.navbar-nav-cb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	padding-right: 0;
	padding-left: 0;
	position: static;
	float: none;
	text-decoration: none;
}

.navbar-nav-cb {
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
	padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar-top-cb {
	min-height: 105px;
}

.navbar-top-cb > li > a {
    padding: 0 15px;
}

.navbar-top-cb>li>a, .navbar-strip-cb>li>a {
	color: white;
}

.navbar-default-cb>li>a {
}*/
