.panel-item-head { 
	font-family: lato-light;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-item-body { 
	background: none;
	font-family: lato-light;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.category{
	color: #ffffff;
}

.h3, h3 {
    font-size: 24px;
    color: #e55026;
	text-align: center;
}